<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <h4 class="header i-corporate-blue-text"><%= list_lessons[0].course.name %></h4>
            <div class="col s3">
                <img class="responsive-img" src="<%= list_lessons[0].course.picture %>">
            </div>
            <div class="col s9">
                <% if (bill.state === 'Pendiente por aprobación') { %>
                <h4 class="orange-text"><%= bill.state %></h4>
                <% } else if (bill.state === 'Clases rechazadas') { %>
                <h4 class="red-text"><%= bill.state %></h4>
                <% } else { %>
                <h4 class="green-text"><%= bill.state %></h4>
                <% } %>
                <% if (user.teacher) { %>
                <h5><strong>Instructor: </strong><%= bill.teacher.shortName %></h5>
                <h5><strong>Usuario: </strong><a href="<%= bill.student.url %>"><%= bill.student.shortName %></a></h5>
                <% } else { %>
                <h5><strong>Instructor: </strong><a href="<%= bill.teacher.url %>"><%= bill.teacher.shortName %></a></h5>
                <p class="i-corporate-orange-text"><i class="material-icons">mail_outline</i>Ingresa a su perfil para enviarle un mensaje.</p>
                <h5><strong>Usuario: </strong><%= bill.student.shortName %></h5>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <div class="row">
                            <div class="col s4">
                                <% if (bill.state == 'Pendiente por aprobación') { %>
                                <h5>Se han solicitado <%= list_lessons.length %> clases:</h5>
                                <% } else if (bill.state == 'Pendiente por pago') { %>
                                <h5>Se han aprobado <%= list_lessons.length %> clases:</h5>
                                <% } else if (bill.state == 'Clases rechazadas') { %>
                                <h5>Se han rechazado <%= list_lessons.length %> clases:</h5>
                                <% } else { %>
                                <h5>Se aceptaron <%= list_lessons.length %> clases:</h5>
                                <% } %>
                            </div>
                            <% if (user.role === 2 && bill.state === 'Pendiente por aprobación') { %>
                            <form action="/bill/<%= bill.id %>/stateUpdate" method="post">
                                <div class="col s4">
                                    <button name="state" class="btn green darken-4" type="submit" value="1"><i class="material-icons left">check</i>Aceptar</button>
                                </div>
                                <div class="col s4">
                                    <button name="state" class="btn red darken-4" type="submit" value="0"><i class="material-icons left">clear</i>Rechazar</button>
                                </div>
                            </form>
                            <% } %>
                            <% if (user.role === 3 && bill.state === 'Clases rechazadas') { %>
                            <form action="/bill/<%= bill.id %>/update" method="get">
                                <div class="col s5 offset-s3">
                                    <input type="hidden" name="teacherId" id="teacherId" value="<%= bill.teacher.id %>">
                                    <input type="hidden" name="courseId" id="courseId" value="<%= list_lessons[0].course.id %>">
                                    <input type="hidden" name="offset" value="0">
                                    <button class="btn blue" type="submit"><i class="material-icons left">edit</i>Reprogramar</button>
                                </div>
                            </form>
                            <% } %>
                            <% if (user.role === 3 && bill.state === 'Aceptado' && list_lessons[list_lessons.length-1].date < new Date()) { %>
                            <form action="/bill/<%= bill.id %>/stateUpdate" method="post">
                                <div class="col s8">
                                    <div class="row">
                                        <p class="flow-text">
                                            <i id="star1" class="medium material-icons i-input-star" onclick="checkStar(1)">star_border</i>
                                            <i id="star2" class="medium material-icons i-input-star" onclick="checkStar(2)">star_border</i>
                                            <i id="star3" class="medium material-icons i-input-star" onclick="checkStar(3)">star_border</i>
                                            <i id="star4" class="medium material-icons i-input-star" onclick="checkStar(4)">star_border</i>
                                            <i id="star5" class="medium material-icons i-input-star" onclick="checkStar(5)">star_border</i>
                                            <input id="score" name="score" type="hidden" value="0">
                                        </p>
                                    </div>
                                    <div class="row">
                                        <button name="state" class="btn green" type="submit" value="4"><i class="material-icons left">rate_review</i>Calificar</button>
                                    </div>
                                </div>
                            </form>
                            <% } %>
                        </div>
                        <% if (list_lessons[0].message) { %>
                            <h5><i class="material-icons">message</i> <strong>Mensaje sobre la clase:</strong> <%= list_lessons[0].message %></h5>
                        <% } else { %>
                            <h5><i class="material-icons">message</i> No hay ningún mensaje sobre la clase.</h5>
                        <% } %>
                    </li>
                    <% for (var i=0; i<list_lessons.length; i++) { %>
                    <li class="collection-item">
                        <div>
                            <ul>
                                <li><h6><i class="material-icons">location_on</i> <strong>Ubicación:</strong> <%= list_lessons[i].address %></h6></li>
                                <li><h6><i class="material-icons">date_range</i> <strong>Fecha:</strong> <%= list_lessons[i].getNiceDate(list_lessons[i].date, 540 * 60 * 1000) %></h6></li>
                            </ul>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</main>

<%- include footer.ejs %>