<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <div class="center-align">
                <h4><strong><%= course.name.toUpperCase() %></strong>
                    <% if (course.category === 'Virtual') { %>
                        (Virtual)
                    <% } %>
                </h4>
                <img class="responsive-img i-course-info-img" src="<%= course.picture %>">
                <% if (course.category === 'Virtual') { %>
                <h5 class="red-text"><i class="material-icons">warning</i> Este curso es virtual</h5>
                <% } %>
                <p class="flow-text"><%= course.description %></p>
                <% if (course.requirement) { %>
                <div class="card amber">
                    <p class="flow-text"><i class="material-icons">warning</i> El curso requiere: <%= course.requirement %></p>
                </div>
                <%} else { %>
                <p>Este curso no tiene requisitos</p>
                <% } %>
                <% if (course.category === 'Virtual') { %>
                <a href="<%= course.externalLink %>" class="btn-large blue" target="_blank">
                    <i class="material-icons right">send</i>Ir al sitio del curso
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <br>
    <div class="divider"></div>
    <br>
    <% if (user) { %>
        <% if (user.role === 3 && course.category !== 'Virtual') { %>
        <%- include teacher_cards.ejs %>
        <% } else if (user.role === 2) { %>
    <div class="container">
        <div class="row">
            <h4>
                Tu perfil aparece en esta sección.
                <br>
                Con la cuenta de instructor no puedes solicitar clases.
            </h4>
        </div>
    </div>
        <% } else if (user.role === 1) { %>
    <a class="btn" href="<%= course.short_url %>/update">Modificar</a>
    <% } } else { %>
        <p>Inicia sesión para ver detalles de los profesores</p>
    <% } %>
</main>

<%- include footer.ejs %>