<%- include header.ejs %>

<main>
    <div class="container">
        <% if (courses_list.length === 0) { %>
        <p>No hay ningun curso</p>
        <% } else { %>
        <br>
            <% if (user && user.role === 3) { %>
        <div class="row">
            <% if (!query) { %>
            <div class="chip i-corporate-green">
                Todos
            </div>
            <% } else { %>
            <a href="/cursos">
                <div class="chip">
                    Todos
                </div>
            </a>
            <% } %>
            <% if (query === 'Domicilio') { %>
            <div class="chip i-corporate-orange">
                Solo a domicilio
            </div>
            <% } else { %>
            <a href="/cursos?category=Domicilio">
                <div class="chip">
                    Solo a domicilio
                </div>
            </a>
            <% } %>
            <% if (query === 'Virtual') { %>
            <div class="chip i-corporate-purple">
                Solo virtuales
            </div>
            <% } else { %>
            <a href="/cursos?category=Virtual">
                <div class="chip">
                    Solo virtuales
                </div>
            </a>
            <% } %>
        </div>
            <% } %>
            <% for (var i=0; i<courses_list.length; i++) { %>
                <% if (i % 3 === 0) { %>
        <div class="row">
                <% } %>
            <div class="col l4 m6 s12">
                <div class="card hoverable">
                    <div class="card-image">
                        <a href="<%= courses_list[i].url %>"><img src="<%= courses_list[i].picture %>"></a>
                        <% if (user && user.role === 1) { %>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="<%= courses_list[i].short_url %>/update"><i class="material-icons">mode_edit</i></a>
                        <% } %>
                    </div>
                    <div class="card-content">
                        <a class="black-text" href="<%= courses_list[i].url %>"><span class="card-title"><%= courses_list[i].name %></span></a>
                        <% if (courses_list[i].category === 'Virtual') { %>
                        <h6 class="red-text"><i class="material-icons">warning</i> Este curso es virtual</h6>
                        <% } %>
                        <% if (courses_list[i].category !== 'Virtual') { %>
                        <p><%= courses_list[i].description %></p>
                        <% } %>
                    </div>
                    <div class="card-action">
                        <a class="green-text" href="<%= courses_list[i].url %>">Detalles</a>
                        <% if (courses_list[i].category === 'Virtual') { %>
                        <a class="blue-text" href="<%= courses_list[i].externalLink %>" target="_blank">Ir al sitio del curso</a>
                        <% } %>
                    </div>
                </div>
            </div>
                <%if (i % 3 === 2 || i === courses_list.length - 1) { %>
        </div>
                <% } %>
            <% } %>
        <% } %>
    </div>
</main>

<%- include footer.ejs %>