<%- include header.ejs %>

<main>
    <div class="container">
        <h4 class="i-corporate-purple-text i-font-title">Editar perfil</h4>
        <% if (error.length > 0) { %>
        <div class="row">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <p><i class="material-icons">report_problem</i> <%- error %></p>
                </div>
            </div>
        </div>
        <% } %>
        <% if (success.length > 0) { %>
        <div class="row">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <p><i class="material-icons">done</i> <%- success %></p>
                </div>
            </div>
        </div>
        <% } %>
        <div class="row">
            <div class="col l4 m4 s4" align="center">
                <img class="responsive-img" src="<%= user.picture_or_not %>">
                <% if (!user.picture) { %>
                <p>Actualiza tu foto para que tus alumnos puedan saber algo más sobre ti</p>
                <% } %>
                <div>
                    <a href="#modal_upload_picture" class="btn">Cambiar imagen</a>
                </div>
            </div>
            <br>
            <form method="post" action="" id="edit">
                <div class="col l8 m8 s12">
                    <a href="/user/update"><h5><i class="material-icons">settings</i> Cambiar información de acceso a la cuenta</h5></a>
                </div>
                <div class="col l8 m8 s12">
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <input type="text" name="firstname" id="firstname" value="<%= teacher.firstName %>" required />
                            <label for="firstname">Nombre</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input type="text" name="lastname" id="lastname" value="<%= teacher.lastName %>" required />
                            <label for="lastname">Apellido</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input type="text" name="document" id="document" value="<%= teacher.document %>" disabled/>
                            <label for="document">Cédula de ciudadanía</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <input type="text" name="city" id="city" value="<%= teacher.city %>" required />
                            <label for="city">Ciudad</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="workingArea" id="workingArea" value="<%= teacher.workingArea %>" required>
                        <label for="workingArea">Área de trabajo</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="phone" id="phone" value="<%= teacher.phone %>" required />
                        <label for="phone">Teléfono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" name="description" class="materialize-textarea" data-length="300"><%= teacher.description %></textarea>
                        <label for="description">Descripción</label>
                    </div>
                </div>
                <% if (user.role === 1) { %>
                <div class="row">
                    <div class="col s6 m3 l3">
                        <p>Instructor aprobado</p>
                        <div class="switch">
                            <label>
                                No
                                <% if (teacher.member.isMember) { %>
                                <input name="isMember" id="isMember_switch" type="checkbox" value="true" checked>
                                <% } else { %>
                                <input name="isMember" id="isMember_switch" type="checkbox" value="true">
                                <% } %>
                                <span class="lever"></span>
                                Sí
                            </label>
                        </div>
                    </div>
                    <div class="col s6 m3 l3">
                        <p>Instructor Premium</p>
                        <div class="switch">
                            <label>
                                No
                                <% if (teacher.member.isPremium) { %>
                                <input name="isPremium" id="isPremium_switch" type="checkbox" value="true" checked>
                                <% } else { %>
                                <input name="isPremium" id="isPremium_switch" type="checkbox" value="true">
                                <% } %>
                                <span class="lever"></span>
                                Sí
                            </label>
                        </div>
                    </div>
                    <div class="input-field col l3 m3 s6">
                        <input class="datepickerFull" type="date" name="premiumSince" id="premiumSince" value="<%= premiumSinceString %>" required>
                        <label for="premiumSince">Inicio membresía</label>
                    </div>
                    <div class="input-field col l3 m3 s6">
                        <input class="datepickerFull" type="date" name="premiumUntil" id="premiumUntil" value="<%= premiumUntilString %>" required>
                        <label for="premiumUntil">Fin membresía</label>
                    </div>
                </div>
                <% } %>
                <br>
                <div class="divider"></div>
                <br>
                <% if (user.role === 1) { %>
                    <% for (var i=0; i<courses_list.length; i++) { %>
                        <% if (teacher_courses_list.indexOf(courses_list[i].id) > -1) { %>
                <div class="row">
                    <div class="input-field col s3">
                        <input type="checkbox" name="course" id="<%= 'course'+courses_list[i].id %>" value="<%= courses_list[i].id %>" checked />
                        <label for="<%= 'course'+courses_list[i].id %>"><%= courses_list[i].name %></label>
                    </div>
                    <div class="input-field col s9">
                        <input type="text" name="<%= 'course_price'+courses_list[i].id %>" id="<%= 'course_price'+courses_list[i].id %>" value="<%= teacher_courses_list_pricePerHour[teacher_courses_list.indexOf(courses_list[i].id)] %>" />
                        <label for="<%= 'course_price'+courses_list[i].id %>">Precio por hora de clase</label>
                    </div>
                </div>
                        <% } else { %>
                <div class="row">
                    <div class="input-field col s3">
                        <input type="checkbox" name="course" id="<%= 'course'+courses_list[i].id %>" value="<%= courses_list[i].id %>" />
                        <label for="<%= 'course'+courses_list[i].id %>"><%= courses_list[i].name %></label>
                    </div>
                    <div class="input-field col s9">
                        <input type="text" name="<%= 'course_price'+courses_list[i].id %>" id="<%= 'course_price'+courses_list[i].id %>" />
                        <label for="<%= 'course_price'+courses_list[i].id %>">Precio por hora de clase</label>
                    </div>
                </div>
                        <% } %>
                    <% } %>
                    <% if (teacher.request) { %>
                <div class="row">
                    <h5>Solicita ofrecer clases de: "<%= teacher.request %>"</h5>
                </div>
                    <% } %>
                <% } else { %>
                    <% for (var i=0; i<teacher.courses.length; i++) { %>
                <input type="hidden" name="course" id="<%= 'course'+teacher.courses[i].course.id %>" value="<%= teacher.courses[i].course.id %>">
                <input type="hidden" name="<%= 'price'+teacher.courses[i].course.id %>" id="<%= 'course_price'+teacher.courses[i].course.id %>" value="<%= teacher.courses[i].pricePerHour %>" />
                    <% } %>
                <% } %>
                <button class="waves-effect waves-light btn blue" type="submit" value="Aceptar" >Guardar</button>
            </form>
        </div>
    </div>
    <div class="modal" id="modal_upload_picture">
        <form method="post" action="/user/<%= user.id %>/uploadPicture" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="row">
                    <div class="col l6 m6 s6">
                        <h6>Imagen actual</h6>
                        <img class="responsive-img i-edit-user-picture-modal" src="<%= user.picture_or_not %>">
                    </div>
                    <div class="col l6 m6 s6">
                        <h6>Nueva imagen</h6>
                        <output id="new-image"></output>
                        <div id="new-image-info"></div>
                    </div>
                </div>
                <input type="hidden" name="fileId" value="<%= user.id %>">
                <div class="input-field file-field">
                    <div class="btn indigo">
                        <span>Elegir archivo</span>
                        <input type="file" name="userPicutre" id="picture-input">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" id="file-name" type="text" placeholder="Imágen con tamaño no mayor a 6 mb">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-upload" class="btn i-corporate-blue" type="submit" disabled>Subir imagen</button>
                <a href="#!" class="modal-action modal-close btn-flat">Cancelar</a>
            </div>
        </form>
    </div>
</main>
<script type="text/javascript" src="/js/uploadFileManager.js"></script>

<%- include footer.ejs %>