<%- include header.ejs %>

<main>
    <div class="container">
        <h2>Editar perfil</h2>
        <% if (user.picture) { %>
        <img class="responsive-img" src="<%= user.picture %>" style="max-width: 50%">
        <% } else { %>
        <img class="responsive-img" src="/img/silueta.png">
        <p>Actualiza tu foto para que tus profesores puedan saber algo más sobre ti</p>
        <% } %>
        <% if ( user.picture && user.picture.indexOf('scontent.xx.fbcdn.net') > -1 ) { %>
        <h6>La imagen es de Facebook, debes cambiarla allá para que se refleje</h6>
        <br>
        <% } else { %>
        <div class="center-align">
            <form action="/user/<%= user.id %>/uploadPicture" enctype="multipart/form-data" method="post">
                <input type="hidden" name="userId" value="<%= user.id %>">
                <input type="file" name="picture">
                <button class="btn" type="submit">Subir imagen</button>
            </form>
        </div>
        <% } %>
        <div id="signup" class="row">
            <form method="post" action="">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="firstname" id="firstname" value="<%= student. firstName %>" required>
                        <label for="firstname">Nombre</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="lastname" id="lastname" value="<%= student.lastName %>" required>
                        <label for="lastname">Apellido</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tu dirección correcta es importante para recibir las clases que solicites" type="text" name="address" id="address" value="<%= student.address %>" required>
                        <label for="address">Dirección</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="phone" id="phone" value="<%= student.phone %>" required>
                        <label for="phone">Teléfono</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input class="datepicker" type="date" name="birthday" id="birthday" value="<%= birthdayString %>" required>
                        <label for="birthday">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input class="validate" type="email" name="email" id="email" value="<%= user.email %>" required disabled>
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="col l6 m6 s12">
                        <a href="/user/update">Cambiar correo electrónico, configuración de notificaciones y/o contraseña</a>
                    </div>
                </div>
                <button class="btn green" type="submit">Editar</button>
            </form>
        </div>
    </div>
</main>

<%- include footer.ejs %>