<%- include header.ejs %>

<main>
    <div class="container">
        <h4><strong>ACTUALIZAR HORARIO DE DISPONIBILIDAD</strong></h4>
        <p class="flow-text">Marca las casillas correspondientes al día de la semana y la hora del día en que estás
            dispuesto a dictar clases. Los usuarios solo podrán solicitar clases en los momentos marcados.</p>
        <form action="/teacher/<%=user.teacher%>/scheduleUpdate" method="post">
            <table class="bordered highlight">
                <% var hour = 7 %>
                <tr>
                    <th><p>Hora</p></th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                </tr>
                <% for (var i=0; i<hoursADay; i++) { %>
                <tr>
                    <td><%= hour + ' - ' + (hour+1) %></td>
                    <% for (var j=0; j<7; j++) { /*7 days of the week*/ %>
                    <% if (teacher.schedule.indexOf(i + (hoursADay * j)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (hoursADay * j) %>" name="schedule" value="<%= i + (hoursADay * j) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (hoursADay * j) %>" name="schedule" value="<%= i + (hoursADay * j) %>">
                        <% } %>
                        <label for="d<%= i + (hoursADay * j) %>"></label>
                    </td>
                    <% } %>
                </tr>
                <% hour++ %>
                <% } %>
            </table>
            <br>
            <div align="center">
                <button type="submit" class="btn">Actualizar horario</button>
            </div>
        </form>
    </div>
</main>

<%- include footer.ejs %>