<%- include header.ejs %>

<main>
    <div class="container">
        <form action="/teacher/<%=user.teacher%>/scheduleUpdate" method="post">
            <table class="bordered highlight">
                <% var hour = 8 %>
                <tr>
                    <th><p>Hora</p></th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                </tr>
                <% for (var i=0; i<12; i++) { %>
                <tr>
                    <td><%= hour + ' - ' + (hour+1) %></td>
                    <% if (teacher.schedule.indexOf(i) > -1) { %>
                    <td><input type="checkbox" id="d<%= i %>" name="schedule" value="<%= i %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i %>" name="schedule" value="<%= i %>">
                        <% } %>
                        <label for="d<%= i %>"><%= i %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+12) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + 12 %>" name="schedule" value="<%= i + 12 %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + 12 %>" name="schedule" value="<%= i + 12 %>">
                        <% } %>
                        <label for="d<%= i + 12 %>"><%= i + 12 %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+(12*2)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (12*2) %>" name="schedule" value="<%= i + (12*2) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (12*2) %>" name="schedule" value="<%= i + (12*2) %>">
                        <% } %>
                        <label for="d<%= i + (12*2) %>"><%= i + (12*2) %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+(12*3)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (12*3) %>" name="schedule" value="<%= i + (12*3) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (12*3) %>" name="schedule" value="<%= i + (12*3) %>">
                        <% } %>
                        <label for="d<%= i + (12*3) %>"><%= i + (12*3) %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+(12*4)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (12*4) %>" name="schedule" value="<%= i + (12*4) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (12*4) %>" name="schedule" value="<%= i + (12*4) %>">
                        <% } %>
                        <label for="d<%= i + (12*4) %>"><%= i + (12*4) %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+(12*5)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (12*5) %>" name="schedule" value="<%= i + (12*5) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (12*5) %>" name="schedule" value="<%= i + (12*5) %>">
                        <% } %>
                        <label for="d<%= i + (12*5) %>"><%= i + (12*5) %></label>
                    </td>
                    <% if (teacher.schedule.indexOf(i+(12*6)) > -1) { %>
                    <td><input type="checkbox" id="d<%= i + (12*6) %>" name="schedule" value="<%= i + (12*6) %>" checked>
                        <% } else { %>
                    <td><input type="checkbox" id="d<%= i + (12*6) %>" name="schedule" value="<%= i + (12*6) %>">
                        <% } %>
                        <label for="d<%= i + (12*6) %>"><%= i + (12*6) %></label>
                    </td>
                </tr>
                <% hour++ %>
                <% } %>
            </table>
            <br>
            <input type="submit" class="btn" value="Actualizar horario">
        </form>
    </div>
</main>

<%- include footer.ejs %>