<%- include header.ejs %>

<main>
    <div class="container">
        <h4 class="i-corporate-blue-text">Editar perfil</h4>
        <% if (error.length > 0) { %>
        <div class="row">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <p><i class="material-icons">report_problem</i> <%- error %></p>
                </div>
            </div>
        </div>
        <% } %>
        <% if (success.length > 0) { %>
        <div class="row">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <p><i class="material-icons">done</i> <%- success %></p>
                </div>
            </div>
        </div>
        <% } %>
        <div class="row">
            <div class="col l4 m4 s4" align="center">
                <img class="responsive-img" src="<%= user.picture_or_not %>">
                <% if (!user.picture) { %>
                <p>Actualiza tu foto para que tus instructores puedan saber algo más sobre ti</p>
                <% } %>
                <div>
                    <a href="#modal_upload_picture" class="btn">Cambiar imagen</a>
                </div>
            </div>
            <br>
            <div class="col l8 m8 s12">
                <form method="post" action="" id="edit">
                    <a href="/user/update"><h5><i class="material-icons">settings</i> Cambiar información de acceso a la cuenta</h5></a>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="firstname" id="firstname" value="<%= student. firstName %>" required>
                        <label for="firstname">Nombre</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="lastname" id="lastname" value="<%= student.lastName %>" required>
                        <label for="lastname">Apellido</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tu dirección correcta es importante para recibir las clases que solicites" type="text" name="address" id="address" value="<%= student.address %>" required>
                        <label for="address">Dirección</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="phone" id="phone" value="<%= student.phone %>" required>
                        <label for="phone">Teléfono</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input class="datepicker" type="date" name="birthday" id="birthday" value="<%= birthdayString %>" required>
                        <label for="birthday">Fecha de nacimiento</label>
                    </div>
                    <div class="row">
                        <button class="btn green" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="modal_upload_picture">
        <form method="post" action="/user/<%= user.id %>/uploadPicture" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="row">
                    <div class="col l6 m6 s6">
                        <h6>Imagen actual</h6>
                        <img class="responsive-img i-edit-user-picture-modal" src="<%= user.picture_or_not %>">
                    </div>
                    <div class="col l6 m6 s6">
                        <h6>Nueva imagen</h6>
                        <output id="new-image"></output>
                        <div id="new-image-info"></div>
                    </div>
                </div>
                <input type="hidden" name="fileId" value="<%= user.id %>">
                <div class="input-field file-field">
                    <div class="btn indigo">
                        <span>Elegir archivo</span>
                        <input type="file" name="userPicutre" id="picture-input">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" id="file-name" type="text" placeholder="Imágen con tamaño no mayor a 6 mb">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-upload" class="btn i-corporate-blue" type="submit" disabled>Subir imagen</button>
                <a href="#!" class="modal-action modal-close btn-flat">Cancelar</a>
            </div>
        </form>
    </div>
</main>
<script type="text/javascript" src="/js/uploadFileManager.js"></script>

<%- include footer.ejs %>