<%- include header.ejs %>

<main>
    <div class="container">
        <img class="responsive-img" src="<%= blogEntry.image %>">
        <form method="post" action="/blog/<%= blogEntry.idTitle %>/uploadPicture" enctype="multipart/form-data">
            <input type="hidden" name="userId" value="<%= blogEntry.idTitle %>">
            <div class="input-field file-field">
                <div class="btn indigo">
                    <span>File</span>
                    <input type="file" name="picture">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Imágen con tamaño no mayor a 6 mb">
                </div>
            </div>
            <button class="btn" type="submit">Subir imagen</button>
        </form>
        <br>
        <form method="post" action="" name="main" id="main">
            <div class="input-field">
                <input type="text" name="title" id="title" required value="<%= blogEntry.title %>">
                <label for="title">Título</label>
            </div>
            <div class="input-field">
                <input type="text" name="idTitle" id="idTitle" required value="<%= blogEntry.idTitle %>">
                <label for="idTitle">Título identificación</label>
            </div>
            <div class="input-field">
                <textarea class="materialize-textarea" name="body" id="body" required><%= blogEntry.body %></textarea>
                <label for="body">Contenido</label>
            </div>
            <div class="input-field">
                <input type="text" name="author" id="author" required value="<%= blogEntry.author %>">
                <label for="description">Autor</label>
            </div>
            <div class="input-field">
                <input type="text" name="keywords" id="keywords" value="<%= blogEntry.keywords %>">
                <label for="keywords">Palabras clave</label>
            </div>
            <button class="waves-effect waves-light btn blue" type="submit" value="Aceptar">Guardar</button>
        </form>
    </div>
</main>

<%- include footer.ejs %>