<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/materialize.css" type="text/css">
    <link rel="stylesheet" href="/css/instructorio_style.css" type="text/css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132316657-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-132316657-1');
    </script>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav class="i-nav">
            <div class="nav-wrapper">
                <% if (user){ %>
                <a id="logo-container" href="/home" class="brand-logo"><img id="main-logo" name="main-logo" src="/img/logo_small.png" class="responsive-img"></a>
                <% } else { %>
                <a id="logo-container" href="/" class="brand-logo"><img id="main-logo" name="main-logo" src="/img/logo_small.png" class="responsive-img"></a>
                <% } %>
                <ul id="nav-full" class="right hide-on-med-and-down">
                    <li>
                        <form method="get" action="/cursos">
                            <div class="input-field i-nav-element">
                                <input id="search" name="search" placeholder="Buscar cursos" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a href="/blogs" class="i-nav-element">Blog</a>
                    </li>
                    <li>
                        <a href="/contactenos" class="i-nav-element">Contáctanos</a>
                    </li>
                    <li>
                        <a href="/nosotros" class="i-nav-element">Nosotros</a>
                    </li>
                    <% if (user){ %>
                    <li>
                        <a class="dropdown-button i-nav-element" href="#!" data-activates="dropdown1"><%= user.owner %><i class="material-icons right">arrow_drop_down</i></a>
                        <!-- Dropdown Structure for navigation -->
                        <ul id="dropdown1" class="dropdown-content">
                            <% if (user && user.role == 1) { %>
                            <li><a href="/transactions"><i class="material-icons">history</i>Lista de operaciones</a></li>
                            <li><a href="/usageTrack"><i class="material-icons">flag</i>Registro de utilización</a></li>
                            <li><a href="/teachers"><i class="material-icons">recent_actors</i>Lista de instructores</a></li>
                            <li><a href="/cursos"><i class="material-icons">view_carousel</i>Lista de cursos</a></li>
                            <li><a href="/curso/create"><i class="material-icons">note_add</i>Añadir un curso</a></li>
                            <li><a href="/students"><i class="material-icons">recent_actors</i>Lista de usuarios</a></li>
                            <li><a href="/correos"><i class="material-icons">chat</i>Lista de correos</a></li>
                            <li><a href="/mensajes"><i class="material-icons">mail_outline</i>Lista de mensajes</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/update"><i class="material-icons">lock_outline</i>Cambiar contraseña</a></li>
                            <% } else if (user.role == 2) { %>
                            <li><a href="/teacher/<%= user.teacher %>/update"><i class="material-icons">settings</i>Editar perfil</a></li>
                            <li><a href="/teacher/<%= user.teacher %>/scheduleUpdate"><i class="material-icons">today</i>Editar horario</a></li>
                            <li><a href="/lessons"><i class="material-icons">class</i>Mis clases</a></li>
                            <li><a href="/cursos"><i class="material-icons">view_carousel</i>Mis cursos</a></li>
                            <li><a href="/mensajes"><i class="material-icons">mail_outline</i>Mensajes</a></li>
                            <% } else if (user.role == 3) { %>
                            <li><a href="/student/update"><i class="material-icons">settings</i>Editar perfil</a></li>
                            <li><a href="/lessons"><i class="material-icons">class</i>Mis clases</a></li>
                            <li><a href="/cursos"><i class="material-icons">view_carousel</i>Cursos</a></li>
                            <li>
                                <a href="/mensajes">
                                    <i class="material-icons">mail_outline</i>Mensajes
                                </a>

                            </li>
                            <% } %>
                            <li class="divider"></li>
                            <li><a href="/blogs"><i class="material-icons">library_books</i>Blog</a></li>
                            <li><a href="/logout"><i class="material-icons">input</i>Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                    <li><a href="#modal1" class="i-nav-element"><strong>INGRESAR</strong></a></li>
                    <% } %>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <!--Sidenav structure-->
    <ul id="nav-mobile" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="/img/background.png">
                </div>
                <% if (user) { %>
                <img class="circle" src="<%= user.picture_or_not %>">
                <h5 class="black-text"><%= user.owner %></h5>
                <h6 class="black-text"><%= user.email %></h6>
                <% } %>
            </div>
        </li>
        <li>
            <form method="get" action="/cursos">
                <div class="card input-field">
                    <input id="search" name="name" type="search" placeholder="Buscar cursos">
                    <i class="material-icons">search</i>
                </div>
            </form>
        </li>
        <li><a href="/home"><i class="material-icons">home</i>Inicio</a></li>
        <% if (user) { %>
            <% if (user.role == 1) { %>
        <li><a href="/transactions"><i class="material-icons">textsms</i>Lista de operaciones</a></li>
        <li><a href="/teachers"><i class="material-icons">recent_actors</i>Lista de instructores</a></li>
        <li><a href="/cursos"><i class="material-icons">view_carousel</i>Lista de cursos</a></li>
        <li><a href="/curso/create"><i class="material-icons">note_add</i>Añadir un curso</a></li>
        <li><a href="/students"><i class="material-icons">recent_actors</i>Lista de usuarios</a></li>
        <li><a href="/mensajes"><i class="material-icons">mail_outline</i>Lista de mensajes</a></li>
        <li><a href="/correos"><i class="material-icons">chat</i>Lista de correos</a></li>
        <li class="divider"></li>
        <li><a href="/user/update"><i class="material-icons">lock_outline</i>Cambiar contraseña</a></li>
            <% } else if (user.role == 2) { %>
        <li><a href="/teacher/<%= user.teacher %>/update"><i class="material-icons">settings</i>Editar perfil</a></li>
        <li><a href="/teacher/<%= user.teacher %>/scheduleUpdate"><i class="material-icons">today</i>Editar horario</a></li>
        <li><a href="/lessons"><i class="material-icons">class</i>Mis clases</a></li>
        <li><a href="/cursos"><i class="material-icons">view_carousel</i>Mis cursos</a></li>
        <li><a href="/mensajes"><i class="material-icons">mail_outline</i>Lista de mensajes</a></li>
            <% } else if (user.role == 3) { %>
        <li><a href="/student/update"><i class="material-icons">settings</i>Editar perfil</a></li>
        <li><a href="/lessons"><i class="material-icons">class</i>Mis clases</a></li>
        <li><a href="/cursos"><i class="material-icons">view_carousel</i>Cursos</a></li>
        <li><a href="/mensajes"><i class="material-icons">mail_outline</i>Lista de mensajes</a></li>
            <% } %>
        <% } %>
        <li class="divider"></li>
        <li><a href="/blogs"><i class="material-icons">library_books</i>Blog</a></li>
        <li><a href="/contactenos"><i class="material-icons">perm_phone_msg</i> Contáctanos</a></li>
        <li><a href="/nosotros"><i class="material-icons">group</i>Nosotros</a></li>
        <li class="divider"></li>
        <% if (user) { %>
        <li><a href="/logout"><i class="material-icons">input</i>Cerrar sesión</a></li>
        <% } else { %>
        <li><a href="/login"><i class="material-icons">input</i>Ingresar</a></li>
        <% } %>
    </ul>

    <!-- Modal Structure for loggin in -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="i-corporate-green-text">Iniciar sesión</h4>
            <div class="row">
                <div class="col l6">
                    <form action="/login" method="post">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" name="username" id="username" class="validate" required>
                            <label for="username">Nombre de usuario</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" name="password" id="password" class="validate" minlength="6" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <div>
                            <a href="/user/recovery">¿Olvidaste tu contraseña?</a>
                        </div>
                        <br>
                        <div align="center">
                            <button class="waves-effect waves-light btn green" type="submit" value="Entrar">Entrar</button>
                        </div>
                    </form>
                </div>
                <div class="col l6">
                    <div class="center-align">
                        <div class="row">
                            <p>Utiliza Facebook para acceder como usuario</p>
                            <a href="/auth/facebook" class="btn blue darken-3">Entrar con Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <p>Si aún no tienes una cuenta, y no quieres usar Facebook, <a href="/signup">regístrate con tu correo</a></p>
                <p>Si estás interesado en ser un <strong>instructor</strong>, <a href="/teacher/signup">diligencia el formulario de pre-registro</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
</header>
<br>