<%- include header.ejs %>

<main>
    <br>
    <% if (user.role == 1) { %>
    <div class="container">
        <h4>Portal de administración</h4>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel teal lighten-3">
                    <div class="white-text">
                        <h4 class="white-text">ADMINISTRACION</h4>
                        <div>
                            <a href="/transactions" class="btn green darken-3">
                                <i class="material-icons left">history</i> Lista de operaciones
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="/usageTrack" class="btn green darken-3">
                                <i class="material-icons left">flag</i> Registro de utilización
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="/blogs" class="btn green darken-3">
                                <i class="material-icons left">library_books</i> Blog
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="/correos" class="btn green darken-3">
                                <i class="material-icons left">mail_outline</i> Correos
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="/mensajes" class="btn green darken-3">
                                <i class="material-icons left">chat</i> Lista de mensajes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel indigo lighten-3">
                    <div class="white-text">
                        <h4 class="white-text">CURSOS</h4>
                        <div>
                            <a href="/cursos" class="btn blue">
                                <i class="material-icons left">view_carousel</i> Lista de cursos
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="/curso/create" class="btn blue">
                                <i class="material-icons left">note_add</i> Añadir un curso
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel amber lighten-2">
                    <div class="white-text">
                        <h4 class="white-text">INSTRUCTORES</h4>
                        <a href="/teachers" class="btn deep-orange">
                            <i class="material-icons left">recent_actors</i> Lista de instructores
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel red lighten-3">
                    <div class="white-text">
                        <h4 class="white-text">USUARIOS</h4>
                        <a href="/students" class="btn red accent-4">
                            <i class="material-icons left">recent_actors</i> Lista de usuarios
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else if (user.role == 2) { %>
    <div class="container">
        <% if (booked > 0) { %>
        <div class="chip orange">
            <a href="/lessons" class="black-text">
                <% if (booked === 1) { %>
                <%= booked %> clase solicitada
                <% } else { %>
                <%= booked %> clases solicitadas
                <% } %>
            </a>
        </div>
        <% } %>
        <% if (accepted > 0) { %>
        <div class="chip green">
            <a href="/lessons" class="black-text">
                <% if (accepted === 1) { %>
                <%= accepted %> clase aceptada
                <% } else { %>
                <%= accepted %> clases aceptadas
                <% } %>
            </a>
        </div>
        <% } %>
        <% if (unread.length > 0){ %>
        <div class="chip grey">
            <a href="/mensajes" class="black-text">
                <% if (unread.length === 1) { %>
                    <i class="tiny material-icons red-text">message</i> <%= unread.length %> conversación sin leer
                <% } else { %>
                        <i class="tiny material-icons red-text">message</i> <%= unread.length %> conversaciones sin leer
                <% } %>
            </a>
        </div>
        <% } %>
            <h4><strong>PORTAL DE INSTRUCTOR</strong></h4>
        <div class="row">
            <div class="col l5 m5 s12">
                <% if (user.picture) { %>
                <img class="responsive-img hide-on-small-only" src="<%= user.picture %>">
                <img class="responsive-img hide-on-med-and-up i-home-img" src="<%= user.picture %>">
                <% } else { %>
                <img class="responsive-img" src="/img/silueta.png">
                <p>Actualiza tu foto para que los usuarios puedan saber algo más sobre ti</p>
                <% } %>
                <% if (person.description) { %>
                <blockquote class="i-keep-line-breaks"><%= person.description %></blockquote>
                <% } else { %>
                <div class="card yellow lighten-2">
                    <div class="card-content">
                        <p class="flow-text"><i class="material-icons blue-text">new_releases</i> <a href="/teacher/<%= user.teacher %>/update">Actualiza</a> tu foto para que los usuarios puedan saber algo más sobre ti</p>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col l7 m7 s12">
                <h4><%= person.fullName %></h4>
                <p class="flow-text"><i class="material-icons">email</i> <%= user.email %></p>
                <p class="flow-text"><i class="material-icons">perm_contact_calendar</i> <%= person.nice_birthday %></p>
                <p class="flow-text"><i class="material-icons">call</i> <%= person.phone %></p>
                <% if (person.score) { %>
                <h6 class="i-score-stars amber-text">
                    <% for (var i=0; i<Math.floor(person.score); i++) { %>
                    <i class="small material-icons">grade</i>
                    <% } %>
                    <%= parseFloat(person.score).toFixed(2) %>
                </h6>
                <% } %>
                <p class="flow-text"><i class="small material-icons">location_on</i> Clases en: </p>
                <div>
                    <ul>
                        <% for (var i=0; i<person.workingArea.length; i++) {%>
                        <li>
                            <h6><i class="tiny material-icons">location_searching</i> <%= person.workingArea[i] %></h6>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <br>
                <% if (courses.length > 0) { %>
                <div class="divider"></div>
                <br>
                <h5>Eres instructor de los siguientes cursos:</h5>
                <ul class="collection">
                    <% for (var i=0; i<courses.length; i++) { %>
                    <li class="collection-item avatar">
                        <img class="circle" src="<%= courses[i].picture %>">
                        <span class="title"><a href="<%= courses[i].url %>"><%= courses[i].name %></a></span>
                        <p>Precio por hora de clase: $ <%= person.getPriceOfCourse(courses[i].id) %></p>
                    </li>
                    <% } %>
                </ul>
                <p>Para modificar la información de tus cursos debes comunicarte con nosotros</p>
                <% } else { %>
                <h5>Para añadir nuevos cursos debes comunicarte con nosotros</h5>
                <% } %>
                <br>
                <div class="card light-green lighten-2">
                    <div class="card-content">
                        <p class="flow-text"><i class="material-icons blue-text">new_releases</i> No olvides mantener actualizado tu <a href="/teacher/<%= user.teacher %>/scheduleUpdate">horario de disponibilidad</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else if (user.role == 3) { %>
    <div class="container">
        <%- include env_buttons.ejs %>
        <% if (accepted > 0) { %>
        <div class="chip green">
            <a href="/lessons" class="black-text">
                <% if (accepted === 1) { %>
                <%= accepted %> clase aceptada
                <% } else { %>
                <%= accepted %> clases aceptadas
                <% } %>
            </a>
        </div>
        <% } %>
        <% if (rejected > 0) { %>
        <div class="chip red">
            <a href="/lessons" class="black-text">
                <% if (rejected === 1) { %>
                <%= rejected %> clase rechazada
                <% } else { %>
                <%= rejected %> clases rechazadas
                <% } %>
            </a>
        </div>
        <% } %>
        <% if (unread.length > 0){ %>
            <div class="chip grey">
                <a href="/mensajes" class="black-text">
                    <% if (unread.length === 1) { %>
                        <i class="tiny material-icons red-text">message</i>  <%= unread.length %> conversación sin leer
                    <% } else { %>
                        <i class="tiny material-icons red-text">message</i> <%= unread.length %> conversaciones sin leer
                    <% } %>
                </a>
            </div>
        <% } %>
    </div>
    <div class="row flex">
        <div class="col l6 m6 s12 i-corporate-green-background">
            <%- include instructions.ejs %>
        </div>
        <div class="col l6 m6 s12 i-corporate-orange-background">
            <%- include category_list.ejs %>
        </div>
    </div>
    <div class="row">
        <%- include teacher_cards.ejs %>
    </div>

    <% } %>
</main>

<%- include footer.ejs %>