<%- include header.ejs %>

<main>

    <%- include env_buttons.ejs %>

    <div class="i-image-with-text">
        <% if (environment !== 'v' && environment !== 'i') { %>
        <img src="/img/CC<%= Math.floor((Math.random() * 3) + 1) %>.png" class="responsive-img hide-on-med-and-down i-image-with-text" style="width: 100%">
        <img src="/img/CC<%= Math.floor((Math.random() * 3) + 1) %>.png" class="hide-on-large-only i-image-with-text">
        <div class="i-welcome-content">
            <div class="row" align="center">
                <h3><strong>INSTRUCTORIO</strong></h3>
            </div>
            <div class="row" align="center">
                <p class="flow-text">
                    ¿Estás buscando clases a domicilio? <strong>Instructorio</strong> tiene justo lo que necesitas.
                    <br>
                    <br>
                    En <strong>Instructorio</strong> encontrarás instructores expertos en diferentes
                    áreas para que reserves tu clase con quien más te guste.
                    <br>
                    <br>
                    Explora nuestras tres categorías: <strong>Académico, Tiempo libre y Entrenamiento físico.</strong>
                </p>
            </div>
        </div>
        <% } else if (environment === 'i') { %>
        <img src="/img/CCV<%= Math.floor((Math.random() * 3) + 1) %>.png" class="responsive-img hide-on-med-and-down i-image-with-text" style="width: 100%">
        <img src="/img/CCV<%= Math.floor((Math.random() * 3) + 1) %>.png" class="hide-on-large-only i-image-with-text" style="width: 100%">
        <div class="i-welcome-content">
            <div class="row" align="center">
                <h3><strong>BIENVENIDO</strong></h3>
            </div>
            <div class="row" align="center">
                <p class="flow-text">
                    Encuentra aquí institutos asociados que ofrecen sus cursos para que aprendas sobre lo que más te gusta.
                </p>
            </div>
        </div>
        <% } else { %>
        <img src="/img/CCV<%= Math.floor((Math.random() * 3) + 1) %>.png" class="responsive-img hide-on-med-and-down i-image-with-text" style="width: 100%">
        <img src="/img/CCV<%= Math.floor((Math.random() * 3) + 1) %>.png" class="hide-on-large-only i-image-with-text">
        <div class="i-welcome-content">
            <div class="row" align="center">
                <h3><strong>BIENVENIDO</strong></h3>
            </div>
            <div class="row" align="center">
                <p class="flow-text">
                    Encuentra aquí diversos cursos virtuales* para que aprendas sobre lo que más te gusta sin moverte de donde estás.
                </p>
            </div>
        </div>
        <div class="container">
            <p class="black-text">
                * Los cursos presentados aquí corresponden a recomendaciones. Instructorio no es el propietario de dichos cursos,
                únicamente los promocionamos y damos a conocer. Para más información consulta nuestros
                <a href="/terminos" target="_blank">Términos y Condiciones.</a>
            </p>
        </div>

        <% } %>
    </div>
    <% if (environment !== 'v' && environment !== 'i') { %>
    <div class="row flex">
        <div class="col l6 m6 s12 i-corporate-green-background">
            <%- include instructions.ejs %>
        </div>
        <div class="col l6 m6 s12 i-corporate-orange-background">
            <%- include category_list.ejs %>
        </div>
    </div>
    <%- include teacher_cards.ejs %>
    <% } %>
    <% if (environment === 'v') { %>
    <br>
    <div class="row" align="center">
        <%- include virtual_courses_cards.ejs %>
    </div>
    <% } %>
    <% if (environment === 'i') { %>
        <br>
        <div class="row" align="center">
            <%- include school_cards.ejs %>
        </div>
    <% } %>
</main>

<%- include footer.ejs %>