<%- include header.ejs %>

<main>
    <div id="slider" class="slider">
        <ul class="slides">
            <li>
                <a href="/login">
                    <img src="/img/car1.jpeg" class="responsive-img hide-on-small-only">
                    <img src="/img/car1-small.jpeg" class="responsive-img hide-on-med-and-up">
                    <div class="cc-slider-text" align="center">
                        <h2 class="black-text">¡Bienvenido a Curso Club! <i class="material-icons medium">search</i></h2>
                        <br>
                        <h4 class="black-text">
                            Aquí encontrarás diversos cursos e instructores personalizados, para que aprendas, te diviertas
                            o mejores tu estado físico.
                        </h4>
                    </div>
                </a>
            </li>
            <li>
                <a href="/cursos">
                    <img src="/img/car2.jpeg" class="responsive-img hide-on-small-only">
                    <img src="/img/car2-small.jpeg" class="responsive-img hide-on-med-and-up">
                    <div class="cc-slider-text" align="center">
                        <h2 class="white-text"><strong>¿Qué hacemos?</strong></h2>
                        <br>
                        <h4 class="white-text">
                            A través de nuestra plataforma te conectamos con instructores particulares que van a donde tú estás,
                            para ofrecerte una gran variedad de actividades de tu interés.
                            <br>
                            <br>
                            Explora nuestras tres categorías: <strong>Académico, Tiempo libre y Entrenamiento físico.</strong>
                        </h4>
                    </div>
                </a>
            </li>
            <li>
                <a href="/nosotros">
                    <img src="/img/car3.jpeg" class="responsive-img hide-on-small-only">
                    <img src="/img/car3-small.jpeg" class="responsive-img hide-on-med-and-up">
                    <div class="cc-slider-text" align="center">
                        <h2 class="black-text"><strong>¿Cómo lo hacemos?</strong></h2>
                        <br>
                        <h4 class="black-text">
                            Selecciona la fecha y hora de tus clases, págalas a través de la plataforma. El instructor llegará
                            a la puerta de tu casa.
                            <br>
                            <br>
                            <strong>¡Aprende desde la comodidad de tu hogar!</strong>
                        </h4>
                    </div>
                </a>
            </li>
            <li>
                <a href="<%= lastBlogEntry.url %>">
                    <img src="<%= lastBlogEntry.image %>" class="responsive-img">
                    <div class="cc-slider-text-blog">
                        <h3 class="white-text">
                            <strong>Visita nuestro blog</strong>
                        </h3>
                        <br>
                        <h4 class="white-text"><%= lastBlogEntry.title %></h4>
                        <h5 class="white-text">
                            <%= lastBlogEntry.nice_created %>
                        </h5>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <br>
    <br>

    <%- include category_list.ejs %>

    <%- include instructions.ejs %>

    <br>
    <div class="container">
        <h4 class="header center orange-text">Aprende más sobre Curso Club</h4>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HWp5ljXyIN4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</main>

<%- include footer.ejs %>