<%- include header.ejs %>

<main>
    <div class="container">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <h4 class="header blue-text">
                        Clases aceptadas <i class="material-icons right">expand_more</i>
                        <span class="badge"><%= classifiedGroupedLessons["groupAccepted"].length %></span>
                    </h4>
                    <% if(user.role === 3) { %>
                    <h6>El instructor aceptó dictar estas clases.</h6>
                    <% } else { %>
                    <h6>Clases que aceptaste.</h6>
                    <% } %>
                </div>
                <div class="collapsible-body">
                    <% if(classifiedGroupedLessons["groupAccepted"].length < 1) { %>
                    <p>No hay ninguna clase aceptada</p>
                    <% } %>
                    <ul class="collection">
                        <% for (var i=0; i<classifiedGroupedLessons["groupAccepted"].length; i++) { %>
                        <li class="collection-item avatar">
                            <img src="<%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].course.picture %>" class="circle">
                            <span class="title"><%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].course.name %></span>
                            <p>
                                <%= classifiedGroupedLessons["groupAccepted"][i].lessons.length %> clases solicitadas
                            </p>
                            <% if(user.role === 3) { %>
                            <p>
                                Instructor:
                                <a href="<%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].teacher.url %>">
                                    <%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].teacher.fullName %>
                                </a>
                            </p>
                            <% } else { %>
                            <p>
                                Usuario:
                                <a href="<%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].student.url %>">
                                    <%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].student.fullName %>
                                </a>
                            </p>
                            <% } %>
                            <p>
                                Entre <strong><%= classifiedGroupedLessons["groupAccepted"][i].lessons[0].nice_date %></strong> y
                                <strong><%= classifiedGroupedLessons["groupAccepted"][i]
                                            .lessons[classifiedGroupedLessons["groupAccepted"][i].lessons.length-1].nice_date %></strong>
                            </p>
                            <a href="<%= classifiedGroupedLessons["groupAccepted"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-small-only" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>Detalles
                            </a>
                            <a href="<%= classifiedGroupedLessons["groupAccepted"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-med-and-up" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <h4 class="header orange-text">
                        Clases solicitadas <i class="material-icons right">expand_more</i>
                        <span class="badge"><%= classifiedGroupedLessons["groupPending"].length %></span>
                    </h4>
                    <% if(user.role === 3) { %>
                    <h6>Debes <span class="orange-text">esperar</span> la aprobación del instructor.</h6>
                    <% } else { %>
                    <h6>Debes dar tu <span class="orange-text">visto bueno</span>.</h6>
                    <% } %>
                </div>
                <div class="collapsible-body">
                    <% if(classifiedGroupedLessons["groupPending"].length < 1) { %>
                    <p>No hay ninguna clase solicitada</p>
                    <% } %>
                    <ul class="collection">
                        <% for (var i=0; i<classifiedGroupedLessons["groupPending"].length; i++) { %>
                        <li class="collection-item avatar">
                            <img src="<%= classifiedGroupedLessons["groupPending"][i].lessons[0].course.picture %>" alt="" class="circle">
                            <span class="title"><%= classifiedGroupedLessons["groupPending"][i].lessons[0].course.name %></span>
                            <p>
                                <%= classifiedGroupedLessons["groupPending"][i].lessons.length %> clases solicitadas
                            </p>
                            <% if(user.role === 3) { %>
                            <p>
                                Instructor:
                                <a href="<%= classifiedGroupedLessons["groupPending"][i].lessons[0].teacher.url %>">
                                    <%= classifiedGroupedLessons["groupPending"][i].lessons[0].teacher.fullName %>
                                </a>
                            </p>
                            <% } else { %>
                            <p>
                                Usuario:
                                <a href="<%= classifiedGroupedLessons["groupPending"][i].lessons[0].student.url %>">
                                    <%= classifiedGroupedLessons["groupPending"][i].lessons[0].student.fullName %>
                                </a>
                            </p>
                            <% } %>
                            <p>
                                Entre <strong><%= classifiedGroupedLessons["groupPending"][i].lessons[0].nice_date %></strong> y
                                <strong><%= classifiedGroupedLessons["groupPending"][i]
                                            .lessons[classifiedGroupedLessons["groupPending"][i].lessons.length-1].nice_date %></strong>
                            </p>
                            <% if (user.role === 2) { %>
                            <form action="/bill/<%= classifiedGroupedLessons["groupPending"][i].bill.id %>/stateUpdate" method="post">
                                <div>
                                    <button name="state" class="btn green darken-4 tooltipped" type="submit" value="1" data-position="right" data-delay="20" data-tooltip="Aceptar todas las clases"><i class="material-icons left">check</i>Aceptar</button>
                                    <button name="state" class="btn red darken-4 tooltipped" type="submit" value="0" data-position="left" data-delay="20" data-tooltip="Rechazar todas las clases"><i class="material-icons left">clear</i>Rechazar</button>
                                </div>
                            </form>
                            <% } %>
                            <a href="<%= classifiedGroupedLessons["groupPending"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-small-only" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>Detalles
                            </a>
                            <a href="<%= classifiedGroupedLessons["groupPending"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-med-and-up" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <h4 class="header red-text">
                        Clases rechazadas <i class="material-icons right">expand_more</i>
                        <span class="badge"><%= classifiedGroupedLessons["groupCanceled"].length %></span>
                    </h4>
                    <% if(user.role === 3) { %>
                    <h6>El instructor las rechazó por falta de disponibilidad en alguno de los horarios. Deben ser <span class="red-text">reprogramadas</span>.</h6>
                    <% } else { %>
                    <h6>El usuario debe <span class="red-text">reprogramar</span> estas clases.</h6>
                    <% } %>
                </div>
                <div class="collapsible-body">
                    <% if(classifiedGroupedLessons["groupCanceled"].length < 1) { %>
                    <p>No hay ninguna clase rechazada</p>
                    <% } %>
                    <ul class="collection">
                        <% for (var i=0; i<classifiedGroupedLessons["groupCanceled"].length; i++) { %>
                        <li class="collection-item avatar">
                            <img src="<%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].course.picture %>" alt="" class="circle">
                            <span class="title"><%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].course.name %></span>
                            <p>
                                <%= classifiedGroupedLessons["groupCanceled"][i].lessons.length %> clases solicitadas
                            </p>
                            <% if(user.role === 3) { %>
                            <p>
                                Instructor:
                                <a href="<%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].teacher.url %>">
                                    <%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].teacher.fullName %>
                                </a>
                            </p>
                            <% } else { %>
                            <p>
                                Usuario:
                                <a href="<%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].student.url %>">
                                    <%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].student.fullName %>
                                </a>
                            </p>
                            <% } %>
                            <p>
                                Entre <strong><%= classifiedGroupedLessons["groupCanceled"][i].lessons[0].nice_date %></strong> y
                                <strong><%= classifiedGroupedLessons["groupCanceled"][i]
                                            .lessons[classifiedGroupedLessons["groupCanceled"][i].lessons.length-1].nice_date %></strong>
                            </p>
                            <% if (user.role === 3) { %>
                            <form action="/bill/<%= classifiedGroupedLessons["groupCanceled"][i].bill.id %>/update" method="get">
                                <div>
                                    <button class="btn blue tooltipped" type="submit" data-position="right" data-delay="20" data-tooltip="Reprogramar las clases"><i class="material-icons left">edit</i>Reprogramar</button>
                                </div>
                            </form>
                            <% } %>
                            <a href="<%= classifiedGroupedLessons["groupCanceled"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-small-only" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>Detalles
                            </a>
                            <a href="<%= classifiedGroupedLessons["groupCanceled"][i].bill.url %>" class="secondary-content btn tooltipped hide-on-med-and-up" data-position="bottom" data-delay="20" data-tooltip="Ver detalles de las clases">
                                <i class="material-icons left">class</i>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <h4 class="header blue-grey-text">
                        <% if(user.role === 3) { %>
                        Clases recibidas <i class="material-icons right">expand_more</i>
                        <% } else { %>
                        Clases dictadas <i class="material-icons right">expand_more</i>
                        <% } %>
                        <span class="badge"><%= classifiedGroupedLessons["groupDone"].length %></span>
                    </h4>
                    <% if(user.role === 3) { %>
                    <h6>El <strong>historial</strong> de todas las clases que has tomado con nosotros.</h6>
                    <% } else { %>
                    <h6>El <strong>historial</strong> de todas las clases que has dictado con nosotros.</h6>
                    <% } %>
                </div>
                <div class="collapsible-body">
                    <% if(classifiedGroupedLessons["groupDone"].length < 1) { %>
                    <p>No hay ninguna clase en tu historial</p>
                    <% } %>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <table class="bordered highlight">
                                <tr>
                                    <th>Nombre del curso</th>
                                    <th>Fecha de la clase</th>
                                    <% if(user.role === 3) { %>
                                    <th>Instructor</th>
                                    <% } else { %>
                                    <th>Usuario</th>
                                    <% } %>
                                </tr>
                                <% for (var i=0; i<classifiedGroupedLessons["groupDone"].length; i++) { %>
                                <tr>
                                    <td>
                                        <a href="<%= classifiedGroupedLessons["groupDone"][i].lessons[0].course.url %>">
                                        <%= classifiedGroupedLessons["groupDone"][i].lessons[0].course.name %></a>
                                    </td>
                                    <td>Entre <%= classifiedGroupedLessons["groupDone"][i].lessons[0].nice_date_short %> y
                                        <%= classifiedGroupedLessons["groupDone"][i].lessons[classifiedGroupedLessons["groupDone"][i].lessons.length-1].nice_date_short %></td>
                                    <% if(user.role === 3) { %>
                                    <td>
                                        <a href="<%= classifiedGroupedLessons["groupDone"][i].lessons[0].teacher.url %>">
                                            <%= classifiedGroupedLessons["groupDone"][i].lessons[0].teacher.fullName %>
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <a href="<%= classifiedGroupedLessons["groupDone"][i].lessons[0].student.url %>">
                                            <%= classifiedGroupedLessons["groupDone"][i].lessons[0].student.fullName %>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% } %>
                            </table>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <% if(user.role === 1) { %>
    <!-- Renders if it is us -->
        <% if (lessons_list.length > 0) { %>
    <div class="container">
    <div class="row">
        <h4 class="header green-text">Clases</h4>
        <table class="bordered highlight">
            <tr>
                <th>Nombre del curso</th>
                <th>Fecha de la clase</th>
                <th>Estado</th>
                <th>Instructor</th>
                <th>Usuario</th>
            </tr>
            <% for (var i=0; i<lessons_list.length; i++) { %>
            <tr>
                <td><%= lessons_list[i].course.name %></td>
                <td><%= lessons_list[i].nice_date %></td>
                <td><%= lessons_list[i].state %></td>
                <td><a href="<%= lessons_list[i].teacher.url %>"><%= lessons_list[i].teacher.fullName %></a></td>
                <td><a href="<%= lessons_list[i].student.url %>"><%= lessons_list[i].student.fullName %></a></td>
            </tr>
            <% } %>
        </table>
    </div>
        <% } else { %>
    <p>No hay clases :(</p>
        <% } %>
    <% } %>
    </div>
</main>

<%- include footer.ejs %>