<%- include header.ejs %>

<main>
    <br>
    <div class="container">
        <h4 class="cc-corporate-blue-text">Detalle del instructor</h4>
        <div class="row">
            <div class="col l4 m4 s12">
                <% if(teacher_user.picture) { %>
                <img class="responsive-img" src="<%= teacher_user.picture %>">
                <% } else { %>
                <img class="responsive-img" src="/img/silueta.png">
                <p><%= teacher.firstName %> no ha subido una imagen</p>
                <% } %>
            </div>
            <div class="col l8 m8 s12">
                <h4><%= teacher.fullName %></h4>
                <h6 class="cc-score-stars amber-text">
                    <% for (var i=0; i<Math.floor(teacher.score); i++) { %>
                    <i class="small material-icons">grade</i>
                    <% } %>
                    <%= teacher.score %>
                </h6>
                <h5><i class="small material-icons">date_range</i> <%= teacher.nice_birthday %></h5>
                <% if(teacher.groupLesson.does) { %>
                <h5><i class="small material-icons">group</i> Da clases grupales a máximo <%= teacher.groupLesson.maxStudents %> personas</h5>
                <% } else { %>
                <h5><i class="small material-icons">person</i> No da clases grupales%></h5>
                <% } %>
                <h5><i class="small material-icons">location_on</i> Clases en: </h5>
                <div>
                    <ul>
                        <% for (var i=0; i<teacher.workingArea.length; i++) {%>
                        <li><h6><i class="tiny material-icons">location_searching</i> <%= teacher.workingArea[i] %></h6></li>
                        <% } %>
                    </ul>
                </div>
                <br>
                <% if (teacher.courses.length > 0) { %>
                <div class="divider"></div>
                <br>
                <% if(teacher.courses.length > 1) { %>
                <h5><%= teacher.firstName %> es profesor de <%= teacher.courses.length %> cursos </h5>
                <% } else { %>
                <h5><%= teacher.firstName %> es profesor de <%= teacher.courses.length %> curso </h5>
                <% } %>
                <ul class="collection">
                    <% for (var i=0; i<teacher.courses.length; i++) { %>
                    <li class="collection-item avatar">
                        <img class="circle" src="<%= teacher.courses[i].course.picture %>">
                        <span class="title"><a href="<%= teacher.courses[i].course.url %>"><%= teacher.courses[i].course.name %></a></span>
                        <p>Precio por hora de clase: $<%= teacher.courses[i].pricePerHour %></p>
                        <form action="/lesson/create" method="get">
                            <input type="hidden" name="teacherId" id="teacherId" value="<%= teacher.id %>">
                            <input type="hidden" name="courseId" id="courseId" value="<%= teacher.courses[i].course.id %>">
                            <input type="hidden" name="offset" value="0">
                            <button class="btn secondary-content indigo" type="submit">Reservar clase</button>
                        </form>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </div>
        <div class="row">
            <p>Acerca de <%= teacher.firstName %>:</p>
            <blockquote class="cc-keep-line-breaks"><%= teacher.description %></blockquote>
        </div>
        <% if (user.role == 1) { %>
        <div class="row">
            <div class="col l6 m6 s12">
                <a class="btn" href="/teacher/<%= teacher.id %>/update">Editar información</a>
            </div>
            <div class="col l6 m6 s12">
                <form method="post" action="/teacher/<%= teacher.id %>/delete">
                    <button class="btn red" type="submit" value="Eliminar">Eliminar profesor</button>
                </form>
            </div>
        </div>
        <% } %>

    </div>
</main>

<%- include footer.ejs %>
