<h4 class="header center"><strong>INSTRUCTORES REGISTRADOS</strong></h4>
<% if (users_list.length > 0) { %>
    <% for (var i=0; i<users_list.length; i++) { %>
        <% if (i % 3 === 0) { %>
<div class="row">
        <% } %>
    <div class="col l4 m4 s12">
        <div class="card i-border-card hoverable">
            <div class="row">
                <div class="col l3 m3 s3">
                    <img src="<%= users_list[i].picture_or_not %>" class="circle responsive-img" style="max-width: 100px;">
                </div>
                <div class="col l9 m9 s9">
                    <span class="card-title"><%= users_list[i].teacher.shortName %></span>
                    <p>
                        <% if (users_list[i].teacher.courses.length > 0) { %>
                            <% for (var k=0; k<users_list[i].teacher.courses.length; k++) { %>
                                <%= users_list[i].teacher.courses[k].course.name %>
                                <% if (k < users_list[i].teacher.courses.length - 1 ) { %>
                                    ,
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <%= users_list[i].teacher.offeredCourses %>
                        <% } %>
                        <br>
                        <strong><%= users_list[i].teacher.citiesAsLine %></strong>
                    </p>
                    <% if (users_list[i].teacher.mobile) { %>
                    <!-- <button class="btn i-whatsapp-green modal-trigger" data-target="teacherDetail"
                            onclick="setModalInfo('<%= users_list[i].teacher.shortName %>',
                                    '<%= users_list[i].teacher.description %>',
                                    '<%= users_list[i].teacher.whatsapp_link %>')"> -->
                        <button class="btn i-whatsapp-green modal-trigger" data-target="teacherDetail"
                            onclick="getTeacherDetail('<%= users_list[i].teacher.id %>')">
                        <i class="material-icons left">
                            <img src="/img/whatsapp.png" class="i-socialicon">
                        </i> Ver teléfono
                    </button>
                    <% } %>
                    <% if (users_list[i].teacher.score) { %>
                    <h6 class="i-score-stars amber-text">
                        <% for (var j=0; j<Math.floor(users_list[i].teacher.score); j++) { %>
                        <i class="tiny material-icons">grade</i>
                        <% } %>
                        <%= parseFloat(users_list[i].teacher.score).toFixed(2) %>
                    </h6>
                    <% } %>
                </div>
            </div>
            <div class="card-content">
                <div class="row" align="justify">
                    <p><%= users_list[i].teacher.description.substr(0, 150) %>...</p>
                </div>
            </div>
            <div class="card-action">
                <a class="green-text" href="#teacherDetail" onclick="getTeacherDetail('<%= users_list[i].teacher.id %>')">Contáctalo aquí</a>
            </div>
        </div>
    </div>
        <% if (i % 3 === 2 || i === users_list.length - 1) { %>
</div>
        <% } %>
    <% } %>
<% } else { %>
<div class="container">
    <p class="flow-text">Lo sentimos, no hay ningun instructor registrado.</p>
</div>
<% } %>
<div id="teacherDetail" class="modal">
    <div id="teacherDetailContent" class="modal-content">

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
    </div>
</div>
<script type="text/javascript" src="/js/handleTeacher.js"></script>