<%- include header.ejs %>

<main>
    <% if (teachers_list.length == 0) { %>
    <div class="container">
        <h4 class="i-corporate-green-text">Lista de instructores</h4>
        <p>No hay ningun instructor</p>
    </div>
    <% } else { %>
    <div class="container">
        <h4 class="i-corporate-green-text">Lista de instructores</h4>
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Nombre del profesor</th>
                <th>Cédula</th>
                <th>Ciudad</th>
                <th>Fecha de registro</th>
                <th>Activo</th>
                <th>Premium</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<teachers_list.length; i++) { %>
            <tr>
                <th><a href="<%= teachers_list[i].url %>"><%= teachers_list[i].fullName %></a></th>
                <th><%= teachers_list[i].document %></th>
                <th><%= teachers_list[i].city %></th>
                <th><%= teachers_list[i].nice_created %></th>
                <th><%= teachers_list[i].member.isMember ? 'Sí' : 'No' %></th>
                <th><%= teachers_list[i].member.isPremium ? 'Sí' : 'No' %></th>
            </tr>
            <% } %>
        <% } %>
            </tbody>
        </table>
    </div>
</main>

<%- include footer.ejs %>